body {
	background-color: aqua;
	text-align: center;
	font-family: arial;
	font-size: 50px
}

button:active {
	background-color: lavender;
	transition: background-color 0.1s;
}

button:hover {
	background-color: pink;
	transition: background-color 0.2s;
}

div {
	background-color: skyblue;
}
